{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
<title>The Trio - About</title>
{% endblock %}
{% block content %}
<div class = "about">
    <div class = 'text'>
        <h1>About the Cartoon</h1>
        <p>When Mars was being destroyed by asteroids and comets in 1899, a  Martian kid, Rakhto was born. His parents put him in a capsule and Rakhto sent to the Earth in capsule, to France, Paris. After 23 years in 1922 he met a man, Vekto, and now the adventures begin…</p>
        <h1>Tagline</h1>
        <p>"Just nothing important"</p>
        <h1>Genres</h1>
        <p>Action, Fantasy, Adventures, Comedy</p>
    </div>
</div>

</div>
{% endblock %}