{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/posts.css">
<title>The Trio - Credits</title>
{% endblock %}
{% block content %}

<div class="header">
    <h2>Credits</h2>
</div>

<div class="row">
    <div class="card">
        <p>Lena Nalbandyan</p>
    </div>
    <div class="card right">
        <p>Aren Harutyunyan</p>
    </div>
</div>
<div class="row">
    <div class="card">
        <p>Gevorg Grigoryan</p>
    </div>
    <div class="card right">
        <p>Karina Eritsyan</p>
    </div>
</div>
<div class="row">
    <div class="card">
        <p>Alex Nikoghosyan</p>
    </div>

{% endblock %}